/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }
  
  /* Container Styling */
  .cv-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Header Styling */
  header {
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
  }
   
  .profession {
    font-size: 30px;
    color: #0f40e2;
    text-align: center;
  }
  
  .contact {
    margin-top: 10px;
  }
  
  .contact ul li {    
    text-decoration: none;
    color: #265788;
    margin-right: 10px;
    margin-left: 30px;
    list-style-type: disc;
  }
  
  .contact a:hover {
    text-decoration-color: teal;
  }
  
  /* Section Styling */
  section {
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 1.8em;
    color: #09a2ad;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 1.4em;
    color: #0f40e2;
  }
  h4 {
    font-size: 1.2em;
    color: #0f40e2;
    margin-bottom: 10px;
  }
  
  /* Education and Experience */
  .education-item, .experience-item {
    margin-bottom: 15px;
    
  }
  
  .education-item p, .experience-item p {
    color: #555;
    font-size: 1em;
    margin-top: 5px;
    margin-left: 130px ;
  }
  
  .education-item ul, .experience-item ul {
    margin-left: 20px;
  }
  
  .education-item li, .experience-item li {
    list-style-type: square;
    margin-bottom: 5px;
    margin-left: 100px ;
  }
  
  .skills ul, .languages ul {
    margin-left: 20px;
  }
  
  .skills li, .languages li {
    list-style-type: circle;
    margin-bottom: 5px;
    margin-left: 100px ;
    
  }
  

  @media (max-width: 768px) {
    .cv-container {
      padding: 10px;
    }
  
    header h1 {
      font-size: 2em;
    }
  
    .contact a {
      display: block;
      margin-bottom: 10px;
    }
  
    section {
      margin-bottom: 20px;
    }
  
    h2 {
      font-size: 1.6em;
    }
  
    h3 {
      font-size: 1.2em;
    }
  }
  