<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum Vitae - Imane Najjahi</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="cv-container">
    <header>
      <div class="header-info">
        <h1>Etudiante-cnam</h1>
        <p class="profession">Développeuse Web / Web Mobile</p>
        <div class="contact">
            <ul>
            <li>E-MAIL   : <a href="mailto:i.najjihi@hotmail.com">i.najjihi@hotmail.com</a></li>
            <li>TEL      : <a href="tel:+033XXXXXXX"> 07 60 60 60 60</a> </li>  
            <li>Adresse  : <a href="adresse">19 cours Blaise pascal 91000 EVRY </a> </li> 
            <li>LinkedIn : <a href="https://www.linkedin.com/in/Etudiante-cnam/" target="_blank">https://www.linkedin.com/in/Etudiante-cnam</a></li>
            </ul>
        </div>
      </div>
    </header>

    <section class="education">
      <h2>Formation</h2>
      <div class="education-item">
        <h3> 2008 - 2010 : Master en Microfinance et Developpement durable</h3>
        <p>Université HASSAN II des sciences juridiques, économoques et sociaux </p>       
      </div>

      <div class="education-item">
        <h3>2005 - 2007 : Licence en gestion des entreprises</h3>
        <p>Université HASSAN II des sciences juridiques, économoques et sociaux </p>        
      </div>
      <div class="education-item">
        <h3>2002 - 2004 : Diplome de technicien spécialisé en informatique de gestion </h3>
        <p>I.P.I (Institut spécialisé en informatique de gestion) </p>       
      </div>
      
      <div class="education-item">
        <h3>1999 - 2001 : Diplome des etudes universitaires spécialisé en économie</h3>
        <p>Université HASSAN II des sciences juridiques, économoques et sociaux 2005 - 2007</p>        
      </div>
      <div class="education-item">
        <h3>1999 - 2001 : Baccalauréat en sciences expérimentales</h3>
        <p>Lycée LAMSSALLA CASABLANCA </p>        
      </div>
    </section>

    <section class="experience">
      <h2>Expérience Professionnelle</h2>
      <div class="experience-item">
        <h4>Développeuse Web au sein de l'Association COLOMBBUS Du 15/01/24 AU 13/12/24</h3> 
       
        <ul>
            <li>Réalisation de site e-commerce en HTML/CSS/PHP/Mysql;</li>
            <li>Réalisation de site web responsive en HTML/CSS/Bootstrap;</li>
            <li>Réalisation de projet blog avec le framework Symfony;</li>
            <li>Réalisation de site WordPress.</li>    
        </ul>
      </div>
      <div class="experience-item">
        <h4>Chargée de relations au sein de la banque Attijariwafabank du 04/02/05 au 04/02/19</h3>
        
        <ul>
            <li>Réalise la vente de produits et de services ainsi que la gestion des dossiers de crédits;</li>
            <li>Mène des opérations de conquête et de prospection de nouveaux clients;</li>             
            <li>Supervise le lancements des campagnes de fidélisations;</li>
            <li>Traite des dossiers de réclamation des clients.</li>
        </ul>
      </div>
    </section>

    <section class="skills">
      <h2>Compétences</h2>
      <ul>
        <li>HTML5, CSS3, JavaScript </li>
        <li>PHP / Symfony</li>
        <li>GIT / GITHUB / VsCode</li>
        <li>SQL / NoSQL / Word Press  </li>
      </ul>
      <h2>Autres Compétences</h2>
      <ul>
        <li>Gestion de projet </li>
        <li>Techniques de vente</li>
        <li>Techniques commerciales</li>       
      </ul>
      <h2>Compétences personnelles</h2>
      <ul>
        <li>Rigoureuse </li>
        <li>Sens de responsabilité</li>
        <li>Esprit d’analyse et d’écoute </li>
        <li>Travail en équipe</li>       
      </ul>
    </section>

    <section class="languages">
      <h2>Langues</h2>
      <ul>
        <li>Français : Courant</li>
        <li>Anglais : Intermédiaire</li>
        <li>Arabe : Langue maternelle</li>
      </ul>
    </section>
  </div>
</body>
</html>
